Flask==3.1.2
numpy
pandas
scikit-learn
scipy
nltk
joblib
pickle-mixin
torch
torchaudio
torchvision
tensorflow
catboost
lightgbm
xgboost
transformers
sentence-transformers
requests
python-dotenv
Werkzeug
regex
plotly
matplotlib
seaborn
beautifulsoup4
gunicorn
flask
